@font-face {
    font-family: "Cookie";
    src: url(../fonts/Cookie/Cookie-Regular.ttf);
}

@font-face {
    font-family: "Germagont";
    src: url(../fonts/germagont/Germagont.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: rgb(245, 235, 220);
    color: #222;
}

.recip * {
    font-family: 'Germagont';
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}


.hero {
    text-align: center;
    padding: 100px;
    background-image: url(../img/fondoComida.webp);
    background-size: cover;
    background-position-y: 10%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: #ff8800 solid 5px;
}

.hero h1 {
    font-size: 55px;
    font-weight: bolder;
    color: #ff8800;
    text-shadow:
        1px 1px 0 black;
    font-family: "Cookie";
}

.hero img {
    height: 250px;
}

main {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.destacadas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

.destacadas h1 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.viñetas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.destacado {
    background-color: white;
    width: 95%;
    height: 60vh;
    border: #ff8800 solid 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 2%;
    cursor: pointer;
    position: relative;
}

.destacado .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    opacity: 0;
    transition: 0s ease;
}

.destacado:hover .overlay {
    background: rgba(0, 0, 0, 0.55);
    opacity: 1;
}

.destacado h1 {
    text-align: center;
    margin-top: 2%;
    font-family: 'Cookie';
    color: #E8A4B8;
    text-shadow:
        0.5px 0.5px 0 black;
}

.destacado-top {
    height: 25%;
    padding: 2%;
}

.destacado-top-top {
    display: flex;
    justify-content: space-between;
}

.destacado-user {
    display: flex;
    align-items: center;
    background: #fff;
}

.destacado-user i {
    color: #979797;
    font-size: xx-large;
    margin-right: 5%;
}

.username {
    display: flex;
}

.username i {
    font-size: medium;
    margin-left: 3%;
    color: rgb(0, 102, 255);
}

.opciones {
    font-size: larger;
    margin-top: 1%;
}

.destacado-bottom {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 75%;
    border-top: #E8A4B8 solid 2px;
}


#milanesanapolitana .destacado-bottom {
    background-image: url(../img/recetas/milanesanapolitana/Milanesa\ Napolitana.avif);
}

#lentejasboniato .destacado-bottom {
    background-image: url(../img/recetas/lentejasboniato/lentejasboniato.webp);
}

#tartaespinaca .destacado-bottom {
    background-image: url(../img/recetas/tartaespinaca/tartaespinaca.webp);
}

#torrijas .destacado-bottom {
    background-image: url(../img/recetas/torrijas/torrijas.jpg);
}